.card{
   
    background: rgb(211, 197, 224);
}
mat-card{
    width: 60%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
mat-form-field{
    margin-left: 1rem;
    margin-right: 1rem;
}
.field{
    margin-top:1rem
}