<div class="card">
    <form [formGroup]="updateform">
        
       <mat-card>
        <mat-toolbar style="background: rgb(209, 129, 129);">Update profile</mat-toolbar>
                <mat-form-field class="field" appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                  </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password">
                      </mat-form-field>
             
                <mat-form-field appearance="fill">
                    <mat-label>Mobile no</mat-label>
                    <input matInput formControlName="mobileno">
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Email Id</mat-label>
                    <input matInput formControlName="emailid">
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Qualification</mat-label>
                    <mat-select formControlName="qualification">
                        <mat-option *ngFor="let qua of qualification" [value]="qua.value">
                            {{qua.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label> DOB</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dob">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div class="text-end">
     <button mat-raised-button type="button" color="warn" mat-dialog-close class="mb-3 mt-3">Cancel</button>
     <button mat-raised-button type="submit" color="primary" class="ms-2 me-5 mb-3 mt-3" (click)="updateProfile()">Update</button>
                </div>
            </mat-card>
    </form>
</div>
