.form{
    width:80%;
    margin:auto;
    margin-top: 1rem;
}
mat-form-field{
    margin-left:2rem;
    margin-top: 1rem;
    width: 80%;
}
.wid{
    width:90%
}
.form-control{
    margin-left:2rem;
    margin-top: 1rem;
    width: 80%;
}