
<mat-card>
  <mat-toolbar style="background-color: rgb(45, 165, 184);">User-FeedBack</mat-toolbar>
  <div class="table-responsive">
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">UserName</th>
        <th scope="col">App Name</th>
        <th scope="col">FeedBack</th>
        <th scope="col">Date</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let feed of feedback index as i">
        <th>{{i+1}}</th>
        <td>{{feed.username}}</td>
        <td>{{feed.appname}}</td>
        <td>{{feed.feedback}}</td>
        <td>{{feed.date | date:'dd-MM-yyyy'}}</td>
       
      </tr>
    </tbody>
  </table>
</div>
</mat-card>
<br>