<section class="main">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 col-xl-6 m-auto">

                <div class="card">
                    <div class="card-body text-center" >
                        <div class="mt-3 mb-4">
                            <img src="https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg"
                                class="rounded-circle img-fluid" style="width: 100px;" />
                        </div>
                        <h1  class="mb-2">Name:-{{user.name}}</h1>
                        <h2 >Email Id:-{{user.emailid}}</h2>
                        <h2 >Qualification:-{{user.qualification}}</h2>
                        <h2>DOB:-{{user.dob | date:'dd/MM/yyyy'}}</h2>


                             
                        <!-- <div class="bg-light mb-4 pb-2">
                            <i class="bi bi-google icons text-danger"></i>
                            <i class="bi bi-facebook icons text-primary"></i>
                            <i class="bi bi-youtube icons text-danger"></i>
                            <i class="bi bi-whatsapp icons text-success"></i>
                            <i class="bi bi-twitter icons text-primary"></i>
                            <i class="bi bi-instagram icons text-danger"></i>

                        </div> -->
                        <div>
                            <h2> Mobile No: <span class="text-success">{{user.mobileno}}</span></h2>
                        </div>
                        <button type="button" class="btn btn-primary" (click)="editprofile(user)">
                            Edit user
                        </button>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>