<div class="form">
    <mat-toolbar color="primary">User-Login</mat-toolbar>
    <form [formGroup]="userloginform" (ngSubmit)="userlogin()">
        <mat-card>
        <mat-form-field appearance="fill">
            <mat-label>UserName</mat-label>
            <input matInput placeholder="Enter Valid Name" formControlName="Username">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label >
            <input matInput placeholder="Enter Valid Password" formControlName="Password">
          </mat-form-field>
          <div class="text-center ms-2 me-2 mb-2 mt-2">
            <button type="button" class="btn btn-danger ">cancel</button>
            <button type="submit" class="btn btn-success ms-3">Login</button>
          </div>
          <div class="text-center mb-3 mt-3">
            <a class="text-danger"routerLink="/user-register">Do not have Account? Register Here...</a>

          </div>
          <div class=" text-center text ms-2">
            <a routerLink="/welcome" class="forget-link text-primary"><h2 s>Go To Home-Page</h2></a>
        </div>
        </mat-card>
    </form>
</div>