<mat-card>
  <mat-toolbar style="background: rgb(131, 86, 150);">User-Rating</mat-toolbar>
  <div>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">App Name</th>
        <th scope="col">User Name</th>
        <th scope="col">Rating</th>
        <th scope="col">Status</th>
     
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rate of rating index as i">
        <th>{{i+1}}</th>
        <td>{{rate.appname}}</td>
        <td>{{rate.username}}</td>
        <td>{{rate.rating}}</td>
        <td>{{rate.status}}</td>
       
      </tr>
    </tbody>
  </table>
</div>
</mat-card>
<br>